.esprit-container {
  width: 100%;
  height: 100%;
}

.esprit-container-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 16px;
  border-radius: 12px;
  background-color: #dbd2ef;
}

.esprit-qrcode {
  width: 37%;
}

.esprit-text-container {
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}

.esprit-text-one {
  font-weight: bold;
  font-size: 16px;
  color: #595678;
}

.esprit-text-two {
  color: #595678;
}

.esprit-processing-container {
  padding: 16px;
  background-color: #dbd2ef;
  border-radius: 12px;
}

.esprit-processing-one {
  color: #595678;
  font-size: 20px;
  font-weight: bold;
}
.esprit-processing-two {
  color: #595678;
}
